<div style ="border-radius: 10px; padding:7%;" class="jumbotron jumbotron-fluid">
    <div class="container">
        <%=  console.log(blog.title) %>
        <h2> <%=  blog.title  %> </h2> 
        <p>Posted by <%=  blog.name  %> </p>
        <p><%=  blog.email  %> </p>
        <img style = "width: 90%" src="/../assets/images/<%=  blog.image  %>" >
        <h5> <%=  blog.content  %> </h5>                                 
    </div>
</div>